.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: red;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* svolgimento esercizi */
/*ex 1 */
.ex-1-square {
    transition: background-color 4s;
}
.ex-1-square:hover {
    background-color: red;
}

/*ex 2*/
.ex-2-square {
    transition: width 4s;
}

.ex-2-square:active {
    width: 100%;
}

/*ex 3*/
.ex-3-square {
    transition: border-radius 4s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/*ex 4 */
.ex-4-square {
    animation-name: hide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        width: 100px;
        height: 100px;
    }

    100% {
        width: 0;
        height: 0;
    }
}

/*ex 5*/
.ex-5-square:hover {
    animation-name: bigger;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes bigger {
    0% {
        width: 60px;
        height: 60px;
    }

    100% {
        width: 80px;
        height: 80px;
    }
}

.ex-5-square:active {
    animation-name: smaller;
}

@keyframes smaller {
    0% {
        width: 60px;
        height: 60px;
    }

    100% {
        width: 30px;
        height: 30px;
    }
}

/*ex 6*/
.ex-6-img:hover {
    filter: grayscale(1);
}

/*ex 7*/
.ex-7-img {
    transition: filter 3s;
}

.ex-7-img:hover {
    filter: grayscale(1);
}

/*ex 8*/
.ex-8-img:hover {
    animation-name: gr-br;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes gr-br {
    0% {
        filter: grayscale(0);
        border-radius: 0;
    }

    100% {
        filter: grayscale(1);
        border-radius: 2rem;
    }
}
/*ex 9*/
.ex-9-img:hover {
    animation-name: scale;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes scale {
    0% {
        width: 400px;
        filter: grayscale(0);
        border-radius: 0;
    }

    100% {
        width: 300px;
        filter: grayscale(1);
        border-radius: 2rem;
    }
}

/*ex 10*/
.ex-10-icon {
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*ex 11*/
.ex-11-icon:hover {
    animation-name: quarter-rot;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes quarter-rot {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }
}

/*ex 12*/
.ex-12-top-white {
    animation-name: move-right;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-right {
    0% {
        left: 10%;
    }

    50% {
        left: 60%;
    }

    100% {
        left: 10%;
    }
}

.ex-12-bottom-white {
    animation-name: move-left;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-left {
    0% {
        right: 20%;
    }

    50% {
        right: 60%;
    }

    100% {
        right: 20%;
    }
}

/*ex 13*/
.ex-13-top-white {
    animation-name: move-top;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-top {
    0% {
        left: 10%;
        top: -10px;
    }

    20% {
        right: 0;
    }

    40% {

    }

    100% {
    }

   /*  50% {
        transform: rotate(90deg);
    }

    51% {
        left: 90%;
    }

    55% {
        top: 0;
    }

    60% {
        top: 10%;
    }

    100% {
        left: 30%;
    } */
}

/* .ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}*/

.ex-13-bottom-white {
    animation-name: move-bottom;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-left {
    0% {
        right: 20%;
    }

    50% {
        right: 60%;
    }

    100% {
        right: 20%;
    }
}